<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Set your browser-->
    <add key ="browser" value ="ff"/>
    <add key ="element_timeout" value ="20"/>
    <add key ="implicit_wait" value ="30"/>
    <add key ="startURL" value ="http://icerow.com/"/>
    <add key ="login" value ="alyapine"/>
    <add key ="password" value ="3psdpsdpsd3"/>
  </appSettings>
</configuration>